<section id="head">
  <h1 class="hidden">K.Tex.Design</h1>
  <div class="wrapper">
    <div class="ktd">
      <picture>
        <source type="image/webp" srcset="/imgs/head/ktexdesign.webp" />
        <img
          fetchpriority="high"
          class="ktd-img"
          width="646"
          height="126"
          src="./imgs/head/ktexdesign.png"
          alt="K.Tex.Design"
        />
      </picture>
    </div>
  </div>
</section>