<section id="head">
  <h1 class="hidden">K.Tex.Design</h1>
  <div class="wrapper">
    <div class="ktd">
      <img 
        src="./imgs/head/ktexdesign.png"
        class="ktd-img"
        alt="K.Tex.Design">
    </div>
  </div>
</section>