<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="K.Tex.Design — текстильный дизайн, который говорит о вашем вкусе. Текстиль для квартиры, коттеджа, офиса или иного объекта. Окна под ключ, карнизные и солнцезащитные системы, текстильный декор лучшего качества.">
    <meta name="keywords"
        content="текстильный дизайн шторы под ключ карнизные системы солнцезащитные системы декор интерьера портьеры и гардины ткань на заказ 3D-визуализация интерьера смета и проект монтаж и навеска штор Ирина Костенко интерьерный текстиль">
    <meta name="robots" content="index, follow">
    <meta name="author" content="alchy_zaljer">
    <link rel="canonical" href="https://ktexdesign.ru">

    <title>K.Tex.Design&nbsp;&mdash; бюро текстильного дизайна</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="K.Tex.Design — бюро текстильного дизайна">
    <meta property="og:description" content="K.Tex.Design — текстильный дизайн, который говорит о вашем вкусе. Текстиль для квартиры, коттеджа, офиса или иного объекта. Окна под ключ, карнизные и солнцезащитные системы, текстильный декор лучшего качества.">
    <meta property="og:url" content="https://ktexdesign.ru/">
    <meta property="og:image" content="/imgs/head/background.jpg">
    <meta property="og:image:alt" content="Пример текстильного дизайна от K.Tex.Design">

    <link rel="icon" type="image/x-icon" href="/imgs/icons/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/imgs/icons/favicon.svg">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preload" fetchpriority="high" href="/imgs/head/ktexdesign.png" as="image" type="image/png">
    <link rel="preload" href="/imgs/head/background.webp" as="image" type="image/webp">

    <link rel="preload" href="/fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <link rel="preconnect" href="https://vkvideo.ru" crossorigin>
    <link rel="preconnect" href="https://yandex.ru" crossorigin>
</head>

<body>
    <main class="content">
        <div class="btn-container skip-container">
            <a href="#services" class="btn skip-btn">Пропустить навигацию</a>
        </div>

        {{> verticalMenu}}
        {{> horizontalMenu}}
        {{> headSection}}
        {{> servicesSection}}
        {{> stagesSection}}
        {{> aboutSection about}}
        {{> textileSection textile}}
        {{> portfolioSection}}
        {{> contactsSection contacts}}
        {{> footerSection footer}}
    </main>

    <script src="js/script.js" defer></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CXFK79SMV8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CXFK79SMV8');
    </script>

    <!-- Yandex.Metrika counter -->
    <script defer>
        window.addEventListener('load', function() {
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                m[i].l = 1 * new Date();
                for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(98352729, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/98352729" style="position:absolute; left:-9999px;" alt="Yandex.Metrika counter" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>